* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
}

#__next,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Card styles

.root {
  box-sizing: border-box;
  margin: 3rem 0 0 3rem;
  padding: 0;
  max-width: 250px;
  height: auto;
  max-height: 400px;
  border: 1px solid goldenrod;

  &:hover {
    transform: scale(1.15);
  }
}

ul {
  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
    width: inherit;
  }
}

.color:hover {
  .red {
    color: red;
  }
}

.color:hover .red {
  color: red;
}

.tapSidesToSeek {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 
    Why 21? Simply because it's one index above the `ClickToPlay` component. Click the link
    below and scroll down to the `Z-Index` section to see existing levels.
    @see https://github.com/vime-js/vime/blob/master/packages/core/src/globals/themes/default.css
  */
  z-index: 21;
  pointer-events: none;
}

.tapSidesToSeek > .tapTarget {
  width: 7.5%;
  height: 100%;
  pointer-events: auto;
}
