.playerWrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.controlsWrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  height: 99.6%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.top,
.middle,
.bottom {
  border: 1px solid greenyellow;
}

.top {
  height: 8%;
}

.middle {
  height: 70%;
}
.bottom {
  height: auto;
}

//Card styles

.root {
  box-sizing: border-box;
  margin: 3rem 0 0 3rem;
  padding: 0;
  max-width: 250px;
  height: auto;
  max-height: 400px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.15);
  }
}
.content {
  display: none;
  transition: all 0.2s ease-in-out;
}
.media {
  height: 140px;

  &:hover .content {
    display: block;
  }
}

.left,
.right {
  border: 1px solid red;
  padding: 0;
}
