.replay-controls-bar,
.replay-selector-items,
.replay-exit-button,
.replay-playback-monitor-close-button,
.replay-buffering-indicator,
.replay-goto-live-button.replay-toggled-on:hover {
  color: pink;
}

.replay-slider-handle {
  background-color: pink;
}
